.MuiGrid-spacing-xs-3 > .MuiGrid-item {
    padding: 12px;
}
@media (min-width: 600px){
.MuiGrid-grid-sm-6 {
    flex-grow: 0;
    max-width: 50%;
}
}
.MuiGrid-grid-xs-12 {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 100%;
}

.MuiGrid-item {
    margin: 0;
    box-sizing: border-box;
}