.text-primary {
    color: #1976d2 !important;
}
.bg-light-primary {
    background: rgba(var(--primary), 0.15) !important;
}
.hover-bg-primary {
    transition: all 250ms;
}
.px-5 {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
}
.MuiButton-textSizeSmall {
    padding: 4px 5px;
    font-size: 0.8125rem;
}
.MuiButton-text {
    padding: 6px 8px;
}
.MuiButton-root {
    color: rgba(52, 49, 76, 1);
    padding: 6px 16px;
    font-size: 14px;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: none;
}
.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.MuiGrid-spacing-xs-3 > .MuiGrid-item {
    padding: 12px;
}
@media (min-width: 600px){
.MuiGrid-grid-sm-6 {
    flex-grow: 0;
    max-width: 50%;
}
}
.MuiGrid-grid-xs-12 {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 100%;
}

.MuiGrid-item {
    margin: 0;
    box-sizing: border-box;
}

.MuiButton-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}