


.umbra {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 60px;
    padding: 80px 50px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
      letter-spacing: .05em;
      text-shadow: 
        4px 4px 0px #3f98cc94, 
        7px 7px 0px rgba(32, 5, 5, 0.479);
}
    
   