@import 'react-big-calendar/lib/sass/styles';
@import 'react-big-calendar/lib/addons/dragAndDrop/styles';


.form-text-name{
    margin-left:10%;
    width: 100%;
}
.form-text-description{
    margin-left:8%;
    width: 100%;

}

