.jss2965nou {
    min-width: 900px;
    overflow-x: scroll;
}
.m-sm-30nou {
    margin: 30px;
}
.MuiCard-rootnou {
    overflow: hidden;
    border-radius: 8px;
}
.MuiPaper-elevation3nou {
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.06), 0px 3px 4px 0px rgba(0, 0, 0, 0.042), 0px 1px 8px 0px rgba(0, 0, 0, 0.036);
}
.MuiPaper-roundednou {
    border-radius: 4px;
}
.MuiPaper-rootnou {
    color: rgba(52, 49, 76, 1);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
}

.py-4nou {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
.px-4nou {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.MuiGrid-containernou {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

@media (min-width: 960px){
.MuiGrid-grid-md-3nou {
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
}}
@media (min-width: 600px){
.MuiGrid-grid-sm-3nou {
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;}
}
.MuiGrid-grid-xs-3nou {
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
}
.MuiGrid-itemnou {
    margin: 0;
    box-sizing: border-box;
}
@media (min-width: 960px){
.MuiGrid-grid-md-4nou {
    flex-grow: 0;
    max-width: 33.333333%;
    flex-basis: 33.333333%;
}}
@media (min-width: 600px){
.MuiGrid-grid-sm-4nou {
    flex-grow: 0;
    max-width: 33.333333%;
    flex-basis: 33.333333%;
}}
.MuiGrid-grid-xs-4nou {
    flex-grow: 0;
    max-width: 33.333333%;
    flex-basis: 33.333333%;
}
.MuiGrid-itemnou {
    margin: 0;
    box-sizing: border-box;
}

.m-0nou {
    margin: 0rem !important;
}
.h6, h6 {
    font-size: 0.875rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: inherit;
    margin: 0 0 0.5rem;
    line-height: 1.1;
}

.MuiDivider-rootnou {
    border: none;
    height: 1px;
    margin: 0;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.12);
}
.items-centernou {
    align-items: center;
}
.flexnou {
    display: flex;
}


.MuiIconButton-sizeSmallnou {
    padding: 3px;
    font-size: 1.125rem;
}
.MuiIconButton-rootnou {
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    padding: 12px;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
}
.MuiButtonBase-rootnou {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.MuiIconButton-labelnou {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}

.MuiIcon-fontSizeSmallnou {
    font-size: 1.25rem;
}
.MuiIcon-rootnou {
    width: 1em;
    height: 1em;
    overflow: hidden;
    font-size: 1.5rem;
    flex-shrink: 0;
    user-select: none;
}
.material-iconsnou {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}


.MuiTouchRipple-rootnou {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}

.text-mutednou {
    color: rgba(52, 49, 76, 0.54) !important;
}
.mt-2nou {
    margin-top: 0.5rem !important;
}

.text-centernou {
    text-align: center;
}
@media (min-width: 960px){
.MuiGrid-grid-md-truenou {
    flex-grow: 1;
    max-width: 100%;
    flex-basis: 0;
}}
@media (min-width: 600px){
.MuiGrid-grid-sm-truenou {
    flex-grow: 1;
    max-width: 100%;
    flex-basis: 0;
}}
.MuiGrid-grid-xs-truenou {
    flex-grow: 1;
    max-width: 100%;
    flex-basis: 0;
}
.MuiGrid-itemnou {
    margin: 0;
    box-sizing: border-box;
}

.MuiFormControl-rootnou {
    border: 0;
    margin: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
}

.MuiOutlinedInput-rootnou {
    position: relative;
    border-radius: 4px;
}
.MuiInputBase-rootnou {
    color: rgba(52, 49, 76, 1);
    cursor: text;
    display: inline-flex;
    position: relative;
    font-size: 14px;
    box-sizing: border-box;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.1876em;
    letter-spacing: 0.00938em;
}

.MuiOutlinedInput-inputMarginDensenou {
    padding-top: 10.5px;
    padding-bottom: 10.5px;
}
.MuiOutlinedInput-inputnou {
    padding: 18.5px 14px;
}
.MuiInputBase-inputMarginDensenou {
    padding-top: 3px;
}
.MuiInputBase-inputnou {
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1.1876em;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    animation-duration: 10ms;
    -webkit-tap-highlight-color: transparent;
}

.MuiOutlinedInput-notchedOutlinenou {
    border-color: rgba(0, 0, 0, 0.23);
}
.jss4691nou {
    top: -5px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0 8px;
    overflow: hidden;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    border-radius: inherit;
    pointer-events: none;
}

.jss4692nou {
    padding: 0;
    text-align: left;
    transition: width 150ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    line-height: 11px;
}

.border-radius-4nou {
    overflow: hidden;
    border-radius: 4px !important;
}
.w-fullnou {
    width: 100%;
}
.mb-12nou {
    margin-top: 1rem !important;
}

.mb-4nou {
    margin-bottom: 1rem !important;
}

.flex-grownou {
    flex-grow: 1;
}

.MuiOutlinedInput-notchedOutlinenou {
    border-color: rgba(0, 0, 0, 0.23);
}
.jss5418nou {
    top: -5px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0 8px;
    overflow: hidden;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    border-radius: inherit;
    pointer-events: none;
}


.jss5419nou {
    padding: 0;
    text-align: left;
    transition: width 150ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    line-height: 11px;
}


.mx-3nou {
    margin-left: 0.75rem !important;
    margin-right: 0.75rem !important;
}
.MuiButton-containedSecondarynou {
    color: rgba(52, 49, 76, 1);
    background-color: #FFAF38;
}
.MuiButton-containednou {
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.06), 0px 8px 10px 1px rgba(0, 0, 0, 0.042), 0px 3px 14px 2px rgba(0, 0, 0, 0.036);
    background-color: #e0e0e0;
}
.MuiButton-rootnou {
    color: rgba(52, 49, 76, 1);
    padding: 6px 16px;
    font-size: 14px;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: none;
}
.MuiButtonBase-rootnou {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}
.MuiButton-labelnou {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}

.MuiTouchRipple-rootnou {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}


.MuiButton-containedPrimarynou {
    color: #ffffff;
    background-color: #1976d2;
}
.MuiButton-containednou {
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.06), 0px 8px 10px 1px rgba(0, 0, 0, 0.042), 0px 3px 14px 2px rgba(0, 0, 0, 0.036);
    background-color: #e0e0e0;
}
.MuiButton-rootnou {
    color: rgba(52, 49, 76, 1);
    padding: 6px 16px;
    font-size: 14px;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: none;
}
.MuiButtonBase-rootnou {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

input[type=text1], select {
    width: 100%;
    //padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit1] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit1]:hover {
    background-color: #45a049;
  }
  
 