
.relative {
    position: relative;
}
.items-center {
    align-items: center;
}
.flex {
    display: flex;
}
.jss1923 .product-price {
    top: 24px;
    right: 0;
    z-index: 4;
    position: absolute;
    border-top-left-radius: 26px;
    border-bottom-left-radius: 26px;
}
.font-medium {
    font-weight: 500 !important;
}
.text-white {
    color: rgba(255, 255, 255, 1) !important;
}
.bg-primary {
    background: #1976d2 !important;
}
.px-3 {
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
}
.py-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}
.m-0 {
    margin: 0rem !important;
}
.w-full {
    width: 100%;
}
.jss1923 .image-box-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 2;
    position: absolute;
    background: rgba(0, 0, 0, 0.74);
    transition: all 250ms ease-in-out;
}
.justify-centere {
    justify-content: center;
}

.jss1923:hover .image-box-overlay{
    opacity:1;
}

.items-center {
    align-items: center;
}


.flex {
    display: flex;
}
.bg-default {
    background: #fafafa !important;
}
.MuiButton-outlined {
    border: 1px solid rgba(0, 0, 0, 0.23);
    padding: 5px 15px;
}
.MuiButton-root {
    color: rgba(52, 49, 76, 1);
    padding: 6px 16px;
    font-size: 14px;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: none;
}
.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}
.MuiButton-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}
.mr-2 {
    margin-right: 0.5rem !important;
}
.MuiIcon-root {
    width: 1em;
    height: 1em;
    overflow: hidden;
    font-size: 1.5rem;
    flex-shrink: 0;
    user-select: none;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.MuiTouchRipple-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}
.p-6 {
    padding: 0.8rem !important;
}




