@media (min-width: 992px){
.container {
    max-width: 960px;
}}
@media (min-width: 768px){
.container {
    max-width: 720px;
}}
@media (min-width: 576px){
.container {
    max-width: 540px;
}}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.justify-content-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


.translate-top {
    top: -70px;
}
.position-relative {
    position: relative!important;
}
@media (min-width: 768px){
.col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}}



.dotted {
    background-color: #b0c6e2ce;
}
.p-4 {
    padding: 1.5rem!important;
}


html body .font-18 {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.txt-primary {
    color: #4999d3;
}
b, strong {
    font-weight: bolder;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
table {
    border-collapse: collapse;
}


.elevation-z16 {
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.06),0px 16px 24px 2px rgba(0, 0, 0, 0.042),0px 6px 30px 5px rgba(0, 0, 0, 0.036) !important;
}

.px-20 {
    padding-right: 5rem !important;
    padding-left: 5rem !important;
    padding-right: 50%;
}

.py-4 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
.my-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
    margin: 1rem !important;
}
.text-center {
    text-align: center;
}

.lista{
    text-align: left !important;
}

.MuiPaper-elevation4 {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.06), 0px 4px 5px 0px rgba(0, 0, 0, 0.042), 0px 1px 10px 0px rgba(0, 0, 0, 0.036);
}
.MuiPaper-rounded {
    border-radius: 4px;
    margin: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
.MuiPaper-root {
    color: rgba(52, 49, 76, 1);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
}

@media (min-width: 600px){
.MuiToolbar-regular {
    min-height: 64px;
}}
@media (min-width: 0px) and (orientation: landscape){
.MuiToolbar-regular {
    min-height: 48px;
}}
.MuiToolbar-regular {
    min-height: 56px;
}
@media (min-width: 600px){
.MuiToolbar-gutters {
    padding-left: 24px;
    padding-right: 24px;
}}
.MuiToolbar-gutters {
    padding-left: 16px;
    padding-right: 16px;
}
.MuiToolbar-root {
    display: flex;
    position: relative;
    align-items: center;
}


.jss2605 {
    flex: 1 1 auto;
}

.MuiTypography-h6 {
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}
.MuiTypography-root {
    margin: 0;
}
.h6, h6 {
    font-size: 0.875rem;
}


.jss2607 {
    flex: 1 1 auto;
    text-align: right;
}


.MuiIconButton-root {
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    padding: 12px;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
}
.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.MuiIconButton-label {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}

.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

.MuiTouchRipple-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}

.jss2595 {
    overflow: auto;
}

.jss2594 {
    outline: none;
}
.MuiTable-root {
    width: 100%;
    display: table;
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
}

.MuiTable-root caption {
    color: rgba(52, 49, 76, 0.54);
    padding: 16px;
    font-size: 0.875rem;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    caption-side: bottom;
    letter-spacing: 0.01071em;
}
.jss2601 {
    left: -3000px;
    position: absolute;
}

.MuiTableHead-root {
    display: table-header-group;
}

.MuiTableRow-root {
    color: inherit;
    display: table-row;
    outline: 0;
    vertical-align: middle;
}

.jss2631 {
    z-index: 110;
    background-color: #fff;
}
.jss2627 {
    left: 0px;
    z-index: 100;
    position: sticky;
}
.jss2626 {
    top: 0px;
    z-index: 100;
    position: sticky;
}
.MuiTableCell-paddingCheckbox {
    width: 48px;
    padding: 0 0 0 4px;
}
.MuiTableCell-head {
    color: rgba(52, 49, 76, 1);
    padding: 12px 0px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5rem;
}
.MuiTableCell-root {
    display: table-cell;
    padding: 12px 8px 12px 0px;
    font-size: 14px;
    text-align: left;
    word-break: break-all;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    white-space: pre-wrap;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    letter-spacing: 0.01071em;
    vertical-align: inherit;
}

.jss2637 {
    top: 0px;
    z-index: 100;
    position: sticky;
    background-color: #fff;
}
.MuiTableCell-head {
    color: rgba(52, 49, 76, 1);
    padding: 12px 0px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5rem;
}
.MuiTableCell-root {
    display: table-cell;
    padding: 12px 8px 12px 0px;
    font-size: 14px;
    text-align: left;
    word-break: break-all;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    white-space: pre-wrap;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    letter-spacing: 0.01071em;
    vertical-align: inherit;
}

.jss2645 {
    cursor: pointer;
    display: flex;
    outline: none;
}

.jss2641 {
    cursor: pointer;
    display: flex;
    vertical-align: top;
}

.jss2640 {
    display: inline-block;
}


.jss2643 {
    height: 10px;
}
.MuiTableSortLabel-root {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    flex-direction: inherit;
    justify-content: flex-start;
}
.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.jss3234 {
    top: 0px;
    z-index: 100;
    position: sticky;
    background-color: #fff;
}
.MuiTableCell-head {
    color: rgba(52, 49, 76, 1);
    padding: 12px 0px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5rem;
}
.MuiTableCell-root {
    display: table-cell;
    padding: 12px 8px 12px 0px;
    font-size: 14px;
    text-align: left;
    word-break: break-all;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    white-space: pre-wrap;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    letter-spacing: 0.01071em;
    vertical-align: inherit;
}


.jss3242 {
    cursor: pointer;
    display: flex;
    outline: none;
}

.jss3238 {
    cursor: pointer;
    display: flex;
    vertical-align: top;
}

.jss3237 {
    display: inline-block;
}

.jss3238 {
    cursor: pointer;
    display: flex;
    vertical-align: top;
}

.jss3240 {
    height: 10px;
}
.MuiTableSortLabel-root {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    flex-direction: inherit;
    justify-content: flex-start;
}
.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.MuiTableBody-root {
    display: table-row-group;
}

.jss5821 {
    cursor: pointer;
}
.MuiTableRow-root {
    color: inherit;
    display: table-row;
    outline: 0;
    vertical-align: middle;
}

.jss5795 {
    left: 0px;
    z-index: 100;
    position: sticky;
}
.MuiTableCell-paddingCheckbox {
    width: 48px;
    padding: 0 0 0 4px;
}
.MuiTableCell-body {
    color: rgba(52, 49, 76, 1);
}
.MuiTableCell-root {
    display: table-cell;
    padding: 12px 8px 12px 0px;
    font-size: 14px;
    text-align: left;
    word-break: break-all;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    white-space: pre-wrap;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    letter-spacing: 0.01071em;
    vertical-align: inherit;
}

.MuiIconButton-root {
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    padding: 12px;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
}
.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.MuiIconButton-label {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}

.jss5797 {
    transform: rotate(90deg);
}
.jss5796 {
    cursor: pointer;
    transition: transform 0.25s;
}
.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

*, *::before, *::after {
    box-sizing: inherit;
}


.MuiGrid-spacing-xs-3 > .MuiGrid-item {
    padding: 12px;
}
@media (min-width: 960px){
.MuiGrid-grid-md-6 {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
}}
.MuiGrid-grid-xs-12 {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
}
.MuiGrid-item {
    margin: 0;
    box-sizing: border-box;
}

.p-4 {
    padding: 1rem !important;
}
.MuiCard-root {
    overflow: hidden;
    border-radius: 8px;
}
.MuiPaper-elevation3 {
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.06), 0px 3px 4px 0px rgba(0, 0, 0, 0.042), 0px 1px 8px 0px rgba(0, 0, 0, 0.036);
}
.MuiPaper-rounded {
    border-radius: 4px;
}
.MuiPaper-root {
    color: rgba(52, 49, 76, 1);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
}

.items-center {
    align-items: center;
}
.flex {
    display: flex;
}


.font-medium {
    font-weight: 500 !important;
}
.text-green {
    color: #393750 !important;
}
.ml-3 {
    margin-left: 0.75rem !important;
}
.m-0 {
    margin: 0rem !important;
}
.h5, h5 {
    font-size: 0.80rem;
}

.pt-4 {
    padding-top: 1rem !important;
}

.text-muted {
    color: rgba(36, 29, 87, 0.54) !important;
}
.flex-grow {
    flex-grow: 1;
}