.MuiGrid-spacing-xs-3 {
    width: calc(100% + 24px);
    margin: -12px;
}
.MuiGrid-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.flex-container{
    flex: 0 50%;
    box-sizing:border-box
}

.flex-container>div {
    flex: 0 50%;
    /*demo*/
    box-sizing:border-box
  }