.MuiAccordion-rounded:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.MuiAccordion-rounded {
    border-radius: 0;
}
.MuiAccordion-root {
    position: relative;
    transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.MuiPaper-elevation0 {
    box-shadow: none;
}
.MuiPaper-rounded {
    border-radius: 4px;
}
.MuiPaper-root {
    color: rgba(52, 49, 76, 1);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
}

.MuiAccordionSummary-root {
    display: flex;
    padding: 0px 16px;
    min-height: 48px;
    transition: min-height 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.MuiAccordionSummary-content {
    margin: 12px 0;
    display: flex;
    flex-grow: 1;
    transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.MuiAccordionSummary-expandIcon {
    transform: rotate(0deg);
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.MuiIconButton-edgeEnd {
    margin-right: -12px;
}
.MuiIconButton-root {
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    padding: 12px;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
}
.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.MuiIconButton-label {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}

.MuiIcon-root {
    width: 1em;
    height: 1em;
    overflow: hidden;
    font-size: 1.5rem;
    flex-shrink: 0;
    user-select: none;
}
/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v55/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

  .MuiTouchRipple-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}

.MuiCollapse-entered {
    height: auto;
    overflow: visible;
}
.MuiCollapse-container {
    height: 0;
    overflow: hidden;
    transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.MuiCollapse-hidden {
    visibility: hidden;
}

.MuiCollapse-wrapper {
    display: flex;
}

.MuiCollapse-wrapperInner {
    width: 100%;
}

.MuiAccordionDetails-root {
    display: flex;
    padding: 8px 16px 16px;
}

.MuiCollapse-entered {
    height: auto;
    overflow: visible;
}
.MuiCollapse-container {
    height: 0;
    overflow: hidden;
    transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.MuiCollapse-wrapper {
    display: flex;
}

.MuiCollapse-wrapperInner {
    width: 100%;
}

.MuiAccordionDetails-root {
    display: flex;
    padding: 8px 16px 16px;
}

.MuiAccordion-root.Mui-expanded {
    margin: 16px 0;
}

.MuiDivider-root {
    border: none;
    height: 1px;
    margin: 0;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.12);
}

@media print{*,body,html{visibility:hidden}.ps{overflow:scroll!important;overflow-anchor:none;-ms-overflow-style:none;touch-action:auto;-ms-touch-action:auto}}

.m--2 {
    margin: -0.5rem !important;
}
.p-5 {
    padding: 1.25rem !important;
}
.items-center {
    align-items: center;
}
.justify-between {
    justify-content: space-between !important;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex {
    display: flex;
}

.ml-4 {
    margin-left: 1rem !important;
}

.m-0 {
    margin: 0rem !important;
}

.font-normal {
    font-weight: normal !important;
}
.capitalize {
    text-transform: capitalize !important;
}
.text-muted {
    color: rgba(52, 49, 76, 0.54) !important;
}
.mt-2 {
    margin-top: 0.5rem !important;
}
.mb-0 {
    margin-bottom: 0rem !important;
}

.m-2 {
    margin: 0.5rem !important;
}
.flex {
    display: flex;
}

.text-primary {
    color: #1976d2 !important;
}
.bg-light-primary {
    background: rgba(var(--primary), 0.15) !important;
}
.hover-bg-primary {
    transition: all 250ms;
}
.px-5 {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
}
.mr-1 {
    margin-right: 0.25rem !important;
}
.MuiButton-textSizeSmall {
    padding: 4px 5px;
    font-size: 0.8125rem;
}
.MuiButton-text {
    padding: 6px 8px;
}
.MuiButton-root {
    color: rgba(52, 49, 76, 1);
    padding: 6px 16px;
    font-size: 14px;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: none;
}
.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.MuiButton-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}

.MuiTouchRipple-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}

.text-primary {
    color: #1976d2 !important;
}
.bg-light-primary {
    background: rgba(var(--primary), 0.15) !important;
}
.hover-bg-primary {
    transition: all 250ms;
}
.px-5 {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
}
.MuiButton-textSizeSmall {
    padding: 4px 5px;
    font-size: 0.8125rem;
}
.MuiButton-text {
    padding: 6px 8px;
}
.MuiButton-root {
    color: rgba(52, 49, 76, 1);
    padding: 6px 16px;
    font-size: 14px;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: none;
}
.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

#form {
    margin-bottom: 30px;
}

.text-40 {
    font-size: 40px !important;
}
.font-medium {
    font-weight: 500 !important;
}
.mb-8 {
    margin-bottom: 2rem !important;
}
.mt-0 {
    margin-top: 0rem !important;
}
.text-center {
    text-align: center;
}
