.jss2443b {
    z-index: 96;
    
}
.MuiAppBar-colorPrimary-2451b {
    color: #ffffff;
    background-color: #222A45;
    //position: sticky;
    position: fixed;
    bottom: 0;
}
.MuiAppBar-positionStatic-2448b {
    position: static;
}
.MuiAppBar-root-2444b {
    width: 100%;
    display: flex;
    z-index: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-direction: column;
}
.MuiPaper-elevation4-2462b {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.06), 0px 4px 5px 0px rgba(0, 0, 0, 0.042), 0px 1px 10px 0px rgba(0, 0, 0, 0.036);
}
.MuiPaper-root-2455b {
    color: #fff;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #222A45;
    clear: both;
    position: relative;
    z-index: 10;
    height: 60px;
}

.jss2442b {
    min-height: var(--topbar-height);
}
@media (min-width: 600px){
.MuiToolbar-regular-2485b {
    min-height: 64px;
}}
@media (min-width: 0px) and (orientation: landscape){
.MuiToolbar-regular-2485b {
    min-height: 48px;
}}
.MuiToolbar-regular-2485b {
    min-height: 56px;
}
@media (min-width: 600px){
.MuiToolbar-gutters-2484b {
    padding-left: 24px;
    padding-right: 24px;
}}
.MuiToolbar-gutters-2484b {
    padding-left: 16px;
    padding-right: 16px;
}
.MuiToolbar-root-2483b {
    display: flex;
    position: relative;
    align-items: center;
}
.items-centerb {
    align-items: center;
}
.flexb {
    display: flex;
}

.w-fullb {
    width: 100%;
}

.m-autob {
    margin: auto !important;
}


.m-0b {
    margin: 0rem !important;
   // text-align: right !important;
}